*{margin:0 ; padding: 0}

body{
    background-repeat: no-repeat;
    background-size: cover;
}

#navv{
    background-color: #504343;
    width: 1432;
    height: 66;
    padding: 10px;
    padding-top: 25px;
    padding-left: 35px;
    padding-right: 35px;
}

#page{
    padding-bottom: 2px;
    font-family: 'Peralta', cursive;
    color: white;
    text-shadow: 3px 3px 6px black;
    font-size: 43px;
    float: right;
    margin-right: 20px;
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: black;
    margin-top: -6.2px; 
    text-decoration: none;
}

#page1{
    margin-right: 35px;
    float: right;
    font-family: 'Permanent Marker', cursive;
    font-size: larger;
}

.container {
    display: inline-block;
    cursor: pointer;
  }

.bar1, .bar2, .bar3{
    width: 35px;
    height: 5px;
    background-color: #000000;
    margin: 6px 0;
    transition: 0.4s;
}

#main{
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    margin: 30px;
    margin-top: 90px;
    float: right;
    margin-right: 200px;
}

#book{
    margin-left: 200px;
    width: 500px;
    height: 500px;
    border-radius: 100px;
}

.sidenav {
    height: 100%;
    width: 0;
    margin-top: 117px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 60px;
  }

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  .about{
    margin: 0px;
    margin-left: 90px;
    margin-top: 70px;
    margin-right: 0px;
    padding: 75px;
    padding-top: 120px;
    padding-bottom: 120px;
    float: left;
    border: solid 9px black;
    font-family: 'Amatic SC', cursive;
    font-size: xx-large;
    font-weight: 900;
    border-radius: 30px;
    background-color: rgb(181, 239, 220);
  }