*{margin:0 ; padding: 0}

body{
    background-repeat: no-repeat;
    background-size: cover;
}

#navv{
    background-color: #504343;
    width: 1432;
    height: 66;
    padding: 10px;
    padding-top: 25px;
    padding-left: 35px;
    padding-right: 35px;
}

#page{
    padding-bottom: 2px;
    font-family: 'Peralta', cursive;
    color: white;
    text-shadow: 3px 3px 6px black;
    font-size: 43px;
    float: right;
    margin-right: 20px;
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: black;
    margin-top: -6.2px; 
    text-decoration: none;
}

#page1{
    margin-right: 35px;
    float: right;
    font-family: 'Permanent Marker', cursive;
    font-size: larger;
}

.container {
    display: inline-block;
    cursor: pointer;
  }

.bar1, .bar2, .bar3{
    width: 35px;
    height: 5px;
    background-color: #000000;
    margin: 6px 0;
    transition: 0.4s;
}

.sidenav {
    height: 100%;
    width: 0;
    margin-top: 117px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.arr-panel{
  border:solid 5px black;
  background-color: rgb(238, 224, 207);
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  width: 490px;
  margin: 20px 50px;
  font-family: sans-serif;
  float: left;
  padding: 50px;
}

#sign{
  background-color: white;
  border: solid 3px black;
  border-radius: 30px;
  color: black;
  padding: 57.5px 180px;
  width: 50%;
  text-align: center;
  font-size: 250px;
  display: flex;
}

.search-container{
  width: 100%;
  margin: 10px 0;
  border-radius: 5px;
  overflow: hidden;
}

.search-container input[type="text"]{
  margin-top: 20px;
  width: 80%;
  height: 50px;
  border-radius: 5px;
  border: none;
  outline: none;
  overflow: hidden;
  border: solid 5px  rgba(0, 0, 0, 0.7);
  padding: 0px 10px;
  font-size: 16px;
  color: #000000;
  background-color: rgb(213, 216, 216);
}

input[type=text] {
  width: 30%;
  -webkit-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
}

/* When the input field gets focus,
    change its width to 100% */
input[type=text]:focus {
 width: 70%;
}

.animals{
  list-style: none;
  display: list-item;    
 } 

 .hide{
  display: none;
 }